<!DOCTYPE html>

{% load static %}

<html lang="en" data-bs-core="elegant" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'styles/halfmoon.css' %}'>
    <link rel='stylesheet' href='{% static 'styles/halfmoon.elegant.css' %}'>
    <link rel='stylesheet' href='{% static 'styles/overrides.css' %}'>
    <title>dog-eared</title>

    <style>
        body {
        padding-top: 5rem;
        }
    </style>
</head>

<header>
    {% include "core/includes/navigation.html" %}
</header>

<body>

    {% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-2 z-3 m-5">
        {% for message in messages %}
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Notice</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="alert alert-{{ message.tags }} alert-dismissable fade show m-3" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <div id='content-container' class='container-sm mt-md-5'>
        <div class='container-wide'>
        {% block content %}
        {% endblock content %}
        </div>
    </div>
                
        
    {% comment %} Temporary content {% endcomment %}
    <div class='container'>
        <br><br>
        <p>You are logged in as <strong>{{ request.user.username }}</strong></p>
        
        <form method="post" action="{% url 'accounts:logout-page' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Log Out</button>
        </form>
    </div>

    <script src="{% static 'scripts/bootstrap.bundle.js' %}" ></script>
    <script src="{% static 'scripts/htmx.min.js' %}"></script>
    <script src="{% static 'scripts/Sortable.min.js' %}"></script>
    <script src="{% static 'scripts/shelf-reorder.js' %}"></script>
</body>
</html>