<!DOCTYPE html>

{% load static %}

<html lang="en" data-bs-core="elegant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static 'styles/halfmoon.css' %}'>
    <link rel='stylesheet' href='{% static 'styles/halfmoon.elegant.css' %}'>
    <link rel='stylesheet' href='{% static 'styles/overrides.css' %}'>
    <title>dog-eared</title>

    <style>
        body {
        padding-top: 5rem;
        }
    </style>
</head>

<header>
    {% include "bookclub/includes/navigation.html" %}
</header>

<body>

    <div class='container-lg gx-5'>
        {% block content %}
        {% endblock content %}
    </div>

    {% comment %}
        This message container is placed temporarily and should be replaced.
    {% endcomment %}
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    
    
    {% comment %} Temporary content {% endcomment %}
    <div class='container'>
        <br><br>
        <p>You are logged in as <strong>{{ request.user.username }}</strong></p>
        
        <form method="post" action="{% url 'logout-page' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Log Out</button>
        </form>
    </div>
    
    
    <script src="{% static 'scripts/bootstrap.bundle.js' %}" ></script>
</body>
</html>