{% extends "base_app.html" %}
{% load static %}
{% load querystring %}



{% partialdef search-result %}
<div class="card overflow-hidden
            specific-w-300
            specific-w-sm-450
            specific-w-md-600
            specific-w-lg-720
            mw-100 mb-3">
  <div class="row g-0">
    <div class="col-sm-7">
      <div class="card-body">
        <h5 class="card-title mb-1">{{ r.title|safe }}</h5>
        {% if r.subtitle %}
            <small class="text-body-secondary">{{ r.subtitle }}</small>
        {% endif %}
        {% if r.authors %}
            <p class="card-text">{{ r.authors|join:', ' }}</p>
        {% endif %}
        {% if r.text_snippet %}
            <p class="card-text">{{ r.text_snippet|safe }}</p>
        {% endif %}

      </div>
    </div>
    <div class="col-sm-5 d-flex align-items-center justify-content-center my-3">
        {% if r.cover_url %}
            <img src="{{ r.cover_url }}" class="img-fluid" alt="Cover image of {{ r.title }}">
        {% endif %}
    </div>
  </div>
</div>
{% endpartialdef %}




{% block content %}

<form method="get">
    {{ form }}
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% if results %}
<p>{{ num_found }} results</p>

<ul>
    {% for r in results %}
        {% partial search-result %}
    {% endfor %}
</ul>

<nav>
    {% if has_prev %}

    <a href="{% prev_page_url %}">Prev</a>

    {% endif %}
    {% if has_next %}
    <a href="{% next_page_url %}">Next</a>
    {% endif %}
</nav>
{% endif %}

{% endblock %}
