{% load static %}

<div class="card overflow-hidden specific-w-300 specific-w-sm-450 mw-100">
  <div class="row g-0">
    <div class="col-sm-5 d-flex justify-content-center">
      <img src="{{ profile.profile_pic.url }}" class="object-fit-contain img-fluid" width='100%' alt="Profile pic of user {{ profile.user.username }}">
    </div>

    <div class="col-sm-7">
      <div class="card-body">
        {% if profile.is_public %}
            <p class="h5 card-title mb-1">
                <a class='icon-link icon-link-hover' href='{% url 'public-profile-page' profile.user.username %}' style="text-decoration: none;">
                    {{ profile.user.username }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="bi lucide lucide-user-icon lucide-user">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                        <circle cx="12" cy="7" r="4"/>
                    </svg>
                </a>
            </p>
        {% else %}
            <p class="h5 card-title mb-1">{{ profile.user.username }}</p>
        {% endif %}
        
        <p class='card-subtitle mb-1'>
            {% if profile.user.first_name %}{{ profile.user.first_name }}{% endif %}
            {% if profile.user.last_name %}{{ profile.user.last_name }}{% endif %}
            {% if profile.pronouns %}<i><small>{{ profile.pronouns }}</small></i>{% endif %}
        </p>
        
        {% if profile.blurb  %}
            <p class="card-text mb-1">{{ profile.blurb }}</p>
        {% endif %}

        {% if profile.currently_reading %}
        <p class="card-text lh-sm text-body-secondary">
            <small>Currently Reading:<br>{{ profile.currently_reading }}</small>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>